* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.wrapper {
    width: 450px;
}
.wrapper .content {
    background: linear-gradient(145deg, rgb(88, 103, 238), rgb(230, 236, 230));
    color: #020202;
    padding: 20px 20px 50px 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 30px rgba(0,0,0,0.66);
}

.content h2 {
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.content .form .input {
    display: flex;
    flex-direction: column;
}
.form .input input {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 17px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.form .input button {
    width: 30%;
    height: 30px;
    font-size: 14px;
    background: rgba(201, 138, 138);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 400ms ease;
}
.form .input button:hover {
    background: black
}

.content .data-section {
    padding-top: 10px;
}
